html {
    scroll-behavior: smooth;
}

#topButton {
    width: 50px; 
    height: 55px;
    transition: transform 0.3s ease;
    display: none;
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 99; /* so it doesnt overlap */
    border: none;
    outline: none;
    background: none;
    color: #eee;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

#topButton:hover {
    transform: scale(1.10);
}